<!-- Header -->
<header class="header">
  <div class="header-content">
    <div class="container">
      {%- if page.lang == 'en' -%}
      <a class="site-title" rel="author" href="{{ '/home/' | relative_url }}">{{ site.title | escape }}</a>
      {%- else -%}
      <a class="site-title" rel="author" href="{{ '/home/pt/' | relative_url }}">{{ site.title | escape }}</a>
      {%- endif -%}

      <nav class="menu-header" aria-label="menu-header">
        <ul class="menu-list">
          <li class="search-item">{%- include menu-items/search.html -%}</li>
          <li>{%- include menu-items/language.html -%}</li>
        </ul>
      </nav>
    </div>
  </div>

  {%- include menu-items/categories-menu.html -%}
</header>