{%- assign shareurl = '' | append: site.url | append: site.baseurl | append: page.url -%}

<div class="share-buttons">
  {%- if page.lang == "pt-BR" -%}
  <p>Compartilhe no:</p>
  {%- else -%}
  <p>Share on:</p>
  {%- endif -%}
  <ul class="social-media-list">
    <li class="facebook">
      <a href="{{ 'https://www.facebook.com/sharer.php?u=' | append: shareurl }}" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#facebook' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li class="twitter">
      <a href="{{ 'https://twitter.com/intent/tweet?url=' | append: shareurl }}" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li class="linkedin">
      <a href="{{ 'https://www.linkedin.com/shareArticle?mini=true&url=' | append: shareurl }}" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li class="whatsapp">
      <a href="{{ 'https://api.whatsapp.com/send?text=' | append: shareurl }}" data-action="share/whatsapp/share" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#whatsapp' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li class="mail">
      <a href="{{ 'mailto:?&body=' | append: shareurl }}" target="_blank">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/svg/minima-social-icons.svg#mail' | relative_url }}"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>